.idea
*.iml
target
build

# eclipse ignores
.classpath
.project
.settings
.externalToolBuilders
.checkstyle
.eclipse-pmd
.pmd
.ruleset

# standard ignores
*.class
*.log
*.jar
hs_err_pid*

# operating system specific
.DS_Store

# maven ignores
pom.xml.versionsBackup